<%
    const [state, setState] = context.useState(1);

    const onclick = context.delegate("click", () => {
        setState(state + 1);
    });
%>


<div <%- context.meta() %>>
    <h1>ComponentX <%= state %></h1>
    <button <%- onclick %>>Reload</button>
</div>