<% 
const componentId = "id1";
const [state, setState] = app.useState("1", componentId, );

const getData = app.useFunction( async () => {
    return { state: 1 };
});

%>

<div component="ComponentX" id=<%= componentId %> >
    <h1><%- state %></h1>

    <button onclick="setState('1', <%= state + 1 %>)">Reload</button>
</div>