<%

    const [data, setData] = await context.useRemote("http://localhost:3000/random");

    const [state, setState] = context.useState(1);

    function updateData(params) {
        context.updateState( async () => {
            await setData()
            setState(state + 1);
        });
    }

    const onclick = context.delegate("click", () => {
        updateData();
    });
%>


<div <%- context.meta() %>>
    <h1>ComponentX <%= state %></h1>
    <button <%- onclick %>>Reload</button>
    <% for (let i = 0; i < data.length; i++) { %>
        <p><%= data[i] %></p>
    <% } %>
    <hr>
</div>