<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>

<body>
    <h1>Index</h1>
    <%- await context.component("ComponentX", {}) %>
    <%- await context.component("ComponentX", {}) %>
    <%- await context.component("ComponentX", {}) %>
    <script src="https://cdn.jsdelivr.net/npm/ejs@3.1.9/ejs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="/main.js"></script>
</body>


</html>